<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="/static/css/excluir.css">
    </head>
    <body>
    <div class="container">
        <h1>Excluir Receita</h1>
        <p>Tem certeza de que deseja excluir esta receita?</p>
        <div class="button-group">
            <form action="{{ url_for('deletar_receita', id=receita[0]) }}" method="post">
                <button class="confirm-button">Sim</button>
            </form>
        <a href="{{ url_for('tabela_receitas') }}"><button class="cancel-button">Não</button></a>
        </div>
    </div>
    </body>
</html>
